@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --gradient: linear-gradient( hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --clr-error: hsl(0, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light: hsl(270, 3%, 87%);
    --clr-dark: hsl(279, 6%, 55%);
    --clr-very-dark: hsl(278, 68%, 11%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--clr-light);
    background-image: url('images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    font: 500 18px 'Space Grotesk';
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    width: 80%;
}

.col {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 32px;
}

.cards {
    gap: 25px;
}

.cards__card {
    background-repeat: no-repeat;
    height: 246px;
    min-width: 446px;
}

.cards__card--front {
    align-self: flex-start;
    background-image: url("images/bg-card-front.png");
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.cards__card--back {
    align-self: flex-end;
    background-image: url("images/bg-card-back.png");
    position: relative;
}

.cards__number, .cards__details {
    opacity: .75;
}

.cards__number {
    font-size: 1.45em;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.cards__details {
    display: flex;
    justify-content: space-between;
}

.cards__secret {
    color: var(--clr-light);
    position: absolute;
    right: 12%;
    top: 49%;
    transform: translateY(-50%);
}

.cards__logo {
    background: url("images/card-logo.svg") no-repeat;
    height: 50px;
    width: 100px;
    align-self: flex-start;
}

.attribution {
    bottom: 0;
    color: var(--clr-white);
    font-size: 11px;
    left: 50%;
    opacity: .45;
    position: fixed;
    transform: translateX(-50%);
}

.attribution a {
    color: var(--clr-dark);
    text-decoration: none;
}

